backend:
  name: git-gateway
  branch: dev

media_folder: static/assets
public_folder: assets

collections:
  - name: "projects"
    label: "Proyectos"
    folder: "content/projects"
    fields:
      - { name: "type", label: "Type", widget: "hidden", default: "project" }
      - { name: "title", label: "Titulo", type: "string" }
      - { name: "banner", label: "Banner", widget: "image" }
      - { name: "body", label: "Descripci칩n", widget: "markdown" }
      - name: "images"
        label: "Imagenes"
        widget: "list"
        fields: 
          - { name: "image", label: "Imagen", widget: "image" }
          - { name: "width", label: "Anchura", widget: "select", options: ["1", "2", "3"], default: "1" }
          - { name: "height", label: "Altura", widget: "select", options: ["1", "2", "3"], default: "1" }

  - name: "About"
    label: "About Us"
    folder: "content/about"
    create: false
    fields:
      - { name: "title", label: "Titulo" }
      - { name: "type", label: "Type", widget: "hidden", default: "team-member" }
      - { name: "index", label: "Indice", widget: "number", valueType: "int", min: 1 }
      - { name: "photo", label: "Foto", widget: "image" }
      - { name: "body", label: "Contenido", widget: "markdown" }

  - label: "Pages"
    name: "pages"
    files:
      - label: "P치gina de inicio"
        name: "homePage"
        file: "content/pages/home.json"
        fields:
          - label: "Introducci칩n"
            name: "intro"
            widget: object
            fields:
              - { label: "Video introductorio", name: video, widget: file }
              - { label: "Imagen en m칩vil", name: image, widget: image }          
          - { label: "Slogan", name: slogan, widget: markdown }
          - label: Clientes
            name: customers
            widget: list
            fields:
              - { label: Name, name: name }
              - { label: Logotipo, name: logo, widget: image }
              - { label: Url, name: url }
          - { label: "Imagen de portafolio", name: portfolioImage, widget: image }

      - label: "About Page"
        name: "about"
        file: "content/pages/about.json"        
        fields:
          - { label: "Imagen de equipo", name: banner, widget: image }
          - { label: Intro, name: intro, widget: markdown }